//-----------------------------------------------------------------------------
// Initialize Game Objects
//-----------------------------------------------------------------------------
<% import Rez.AST.ValueEncoder %>

<% alias Rez.AST.Node %>
<% alias Rez.AST.NodeHelper %>
<% alias Rez.AST.Asset %>

<%= if @shared_fn_decls != "" do %>
//-----------------------------------------------------------------------------
// Shared Default Functions
//-----------------------------------------------------------------------------
<%= @shared_fn_decls %>
<% end %>

const game = <%= Node.js_initializer(@game) %>;

RezBasicObject.game = game;

/* Ids of $global elements, auto-bound in every template binding context */
RezBasicObject.globalBindingIds = <%= "[" <> Enum.map_join(@global_ids, ", ", &inspect/1) <> "]" %>;

/* Encode game objects */
let el;
<%= for node <- @game_elements do %>
  el = <%= Node.js_initializer(node) %>;
  game.addGameObject(el);
  <%= if NodeHelper.get_attr_value(node, "$global", false) do %>
    Object.defineProperty(window, "$<%= node.id %>", {value: el, writable: false, configurable: false, enumerable: true});
  <% end %>
<% end %>
