//-----------------------------------------------------------------------------
// Register expression filters
//-----------------------------------------------------------------------------

<% import Rez.AST.NodeHelper %>
<% import Rez.AST.ValueEncoder %>

Rez.template_expression_filters = {
  <%= for filter <- @filters do %>
    <% name = get_attr_value(filter, "name") %>
    <% impl = get_attr_value(filter, "impl") %>
    <%= name %>: <%= encode_function(impl) %>,
<% end %>
};
