//-----------------------------------------------------------------------------
// Register Handlebars Helpers
//-----------------------------------------------------------------------------
<% import Rez.AST.NodeHelper %>
<% import Rez.AST.ValueEncoder %>

<%= for {_id, helper} <- @game.helpers do %>
  <% name = get_attr_value(helper, "name") %>
  <% handler = get_attr_value(helper, "handler") %>
  Handlebars.registerHelper("<%= name %>", <%= encode_function(handler) %>);
<% end %>
