window.Rez.user_components = {};

<% alias Rez.AST.Component %>
<% alias Rez.AST.ValueEncoder %>
<%= for %Component{name: name, impl_fn: {:function, impl_fn}} <- @user_components do %>
  window.Rez.user_components.<%= name %> = <%= ValueEncoder.encode_function(impl_fn) %>;
<% end %>
