window.Rez.user_components = {};

<% alias Rez.AST.ValueEncoder %>
<%= for {name, {:function, impl_fn}} <- @game.user_components do %>
  window.Rez.user_components.<%= name %> = <%= ValueEncoder.encode_function(impl_fn) %>;
<% end %>
